*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4f6163c0;
   
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(83, 14, 151);
}
